* {
    background: #455d7a;
    color:aliceblue;
    text-align: center;
    border-radius: 15px;
}


#controls {
    background: #233142;
    padding: 15px;
}

#rock, #paper, #scissors {
    background-color: #f95959;
    width: 15%;
    height: 40px;
}

h1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

#container, #score-container {
    display: flex;
}

h2 {
    flex: 1;
    justify-content: space-evenly;
}

#totalWon, #totalLost {
    flex: 1;
    justify-content: space-evenly;
}

#reset {
    width: 8%;
    height: 30px;
    background-color: #f95959;
}

#results {
    background-color: white;
    color: #455d7a;
    width: 25%;
    height: 35px;
    font-size: 30px;
    font-weight: 900;
    padding: 150px;
    margin: auto;
    text-align: center;
}