* {
    background: url("images/rock-paper-scissors.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:aliceblue;
    text-align: center;
}



h1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }